.chart {
  padding: 0 16px 112px;

  &-title {
    margin-bottom: 16px;
    text-align: center;
  }

  &-list {
    padding: 0 8px;

    .chart-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 56px;
      font-size: 14px;
      font-weight: 500;
      border-bottom: 1px solid #ffffff1a;

      &-left {
        display: flex;
        align-items: center;

        .chart-rank {
          width: 24px;
          margin-right: 16px;
        }

        .chart-content {
          max-width: 120px;

          &-song,
          &-artist {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          &-song {
            margin-bottom: 3px;
          }

          &-artist {
            font-weight: 400;
            color: #ffffffb3;
          }
        }
      }
    }

    .chart-button {
      display: flex;
      justify-content: flex-end;
      width: 100px;

      .btn {
        color: #fff;
      }

      .btn-play {
        margin-right: 16px;
      }

      .btn-liked {
        width: 70px;
        padding: 8px 16px;
        background-color: #212121;
        border-radius: 4px;
      }
    }
  }
}
