extends base

block content
    div
        h1 인기곡 차트
        table
            thead
                tr
                    th No.
                    th Title
                    th Artist
            tbody#songs
                tr
                    td(colspan="3") Loading...