.nav-bar {
  position: fixed;
  width: 100vw;
  height: 64px;
  background-color: $bg;

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 16px;
  }

  &-left {
    img {
      display: block;
    }
  }

  &-center {
    .nav-list {
      display: flex;

      .nav-item {
        padding: 0 16px;
      }
    }
  }
}
